{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Registration</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Register</h2>
    <form action="{% url 'login_app:register' %}" method='post'>
      {% csrf_token %}
      Name <input type="text" name="name">
      Username <input type="text" name="username">
      Password <input type="password" name="password">
      Confirm PW <input type="password" name="confirm_pw">
      <input type="submit" value="Register">
    </form>
    <h2>Login</h2>
    <form action="{% url 'login_app:login' %}" method='post'>
      {% csrf_token %}
      Username <input type="text" name="username">
      Password <input type="password" name="password">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
